<div class="pt:mt-0 mx-auto flex flex-col items-center justify-center px-6 pt-8 md:h-screen">
  <div href="#" class="mb-4 flex flex-col items-center lg:mb-6">
    <a href="#">
      <img src="src/assets/images/MatLidStore_Logo.png" class="mb-2 h-16" alt="MatLidStore Logo" />
    </a>
    <span class="text-center text-2xl font-bold">Modern Artistic Trends in Lifestyle & Design</span>
  </div>
  <!-- Card -->
  <div class="w-full rounded-lg bg-white shadow sm:max-w-screen-sm md:mt-0 xl:p-0">
    <div class="space-y-8 p-4 sm:p-6 lg:p-14">
      <!-- Updated h2 Color -->
      <h2 class="text-center text-2xl font-bold text-blue-800 lg:text-3xl">Tạo tài khoản mới</h2>
      <form class="mt-8 space-y-6" action="#">
        <div>
          <!-- Updated label color -->
          <label for="firstName" class="mb-2 block text-sm font-medium text-gray-700">Tên</label>
          <!-- Updated input border color -->
          <input
            type="text"
            name="firstName"
            id="firstName"
            class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
            placeholder="Nhập tên của bạn"
            required
          />
        </div>
        <div>
          <label for="lastName" class="mb-2 block text-sm font-medium text-gray-700">Họ</label>
          <input
            type="text"
            name="lastName"
            id="lastName"
            class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
            placeholder="Nhập họ của bạn"
            required
          />
        </div>
        <div>
          <label for="username" class="mb-2 block text-sm font-medium text-gray-700">Tên đăng nhập</label>
          <input
            type="text"
            name="username"
            id="username"
            class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
            placeholder="Nhập tên người dùng của bạn"
            required
          />
        </div>
        <div>
          <label for="email" class="mb-2 block text-sm font-medium text-gray-700">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
            placeholder="Nhập email của bạn"
            required
          />
        </div>
        <div>
          <label for="phoneNumber" class="mb-2 block text-sm font-medium text-gray-700">Số điện thoại</label>
          <input
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            class="w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
            placeholder="Nhập số điện thoại của bạn"
            required
          />
        </div>
        <div>
          <label for="password" class="mb-2 block text-sm font-medium text-gray-700">Mật khẩu</label>
          <div class="relative">
            <input
              type="password"
              name="password"
              id="password"
              class="input-pw w-full rounded-lg border border-gray-300 p-2 focus:outline-none focus:ring-2 focus:ring-cyan-600"
              placeholder="Nhập mật khẩu của bạn"
              required
              [type]="showPassword ? 'text' : 'password'"
            />
            <button
              type="button"
              class="absolute inset-y-0 right-0 px-3 py-2"
              aria-label="Toggle password visibility"
              [title]="showPassword ? 'Ẩn mật khẩu' : 'Hiển thị mật khẩu'"
              (click)="togglePasswordVisibility()"
            >
              <fa-icon class="text-gray-500 hover:text-gray-800" [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
            </button>
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="w-full rounded-lg bg-blue-600 px-5 py-3 text-center text-base font-medium text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 sm:w-auto"
          >
            Tạo tài khoản
          </button>
        </div>
        <div class="text-center text-sm font-medium text-gray-500">
          Đã có tài khoản?
          <a routerLink="/account/login" class="text-blue-500 hover:underline">Đăng nhập</a>
        </div>
      </form>
    </div>
  </div>
</div>
