<div class="bg-white rounded-lg mt-2">
  <div class="container flex flex-col mx-auto bg-white rounded-lg">
    <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5">
      <div class="flex items-center justify-center w-full lg:p-10">
        <div class="flex items-center xl:p-8">
          <form
            #registerForm="ngForm"
            (ngSubmit)="registerClick()"
            class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl form-container">
            <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">Đăng Ký</h3>
            <p class="mb-4 text-grey-700">Nhập thông tin của bạn để tạo tài khoản</p>

            <div class="flex flex-col md:flex-row md:gap-5">
              <div class="flex flex-col md:w-1/2">
                <label class="mb-2 text-sm text-start text-grey-900" for="firstName">Họ*</label>
                <input
                  [(ngModel)]="model.firstName"
                  class="input-field"
                  id="firstName"
                  name="firstName"
                  placeholder="Nhập họ"
                  required
                  type="text" />
              </div>

              <div class="flex flex-col md:w-1/2">
                <label class="mb-2 text-sm text-start text-grey-900" for="lastName">Tên*</label>
                <input
                  [(ngModel)]="model.lastName"
                  class="input-field"
                  id="lastName"
                  name="lastName"
                  placeholder="Nhập tên"
                  required
                  type="text" />
              </div>
            </div>

            <label class="mt-6 mb-2 text-sm text-start text-grey-900" for="username">Tên người dùng*</label>
            <input
              [(ngModel)]="model.username"
              class="input-field"
              id="username"
              name="username"
              placeholder="Nhập tên người dùng"
              required
              type="text" />

            <label class="mt-6 mb-2 text-sm text-start text-grey-900" for="email">Email*</label>
            <input
              [(ngModel)]="model.email"
              class="input-field"
              id="email"
              name="email"
              placeholder="Nhập email"
              required
              type="email" />

            <label class="mt-6 mb-2 text-sm text-start text-grey-900" for="phoneNumber">Số điện thoại</label>
            <input
              [(ngModel)]="model.phoneNumber"
              class="input-field"
              id="phoneNumber"
              name="phoneNumber"
              placeholder="Nhập số điện thoại"
              type="tel" />

            <label class="mt-6 mb-2 text-sm text-start text-grey-900" for="password">Mật khẩu*</label>
            <div class="relative flex items-center">
              <input
                [(ngModel)]="model.password"
                [type]="showPassword ? 'text' : 'password'"
                class="input-field password"
                id="password"
                name="password"
                placeholder="Nhập mật khẩu"
                required />
              <button
                (click)="togglePassword()"
                aria-label="Toggle password visibility"
                class="absolute inset-y-0 right-0 flex items-center px-3"
                title="{{ showPassword ? 'Ẩn mật khẩu' : 'Hiển thị mật khẩu' }}"
                type="button">
                <i *ngIf="showPassword" class="fa fa-eye text-gray-600 hover:text-gray-800 transition duration-300"></i>
                <i
                  *ngIf="!showPassword"
                  class="fa fa-eye-slash text-gray-600 hover:text-gray-800 transition duration-300"></i>
              </button>
            </div>

            <button
              class="w-full px-6 py-3 mt-12 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl mx-auto hover:bg-blue-600 focus:ring-4 focus:ring-blue-100 bg-blue-500"
              type="submit">
              Đăng ký
            </button>

            <p class="text-sm leading-relaxed text-grey-900">
              Đã có tài khoản?
              <a class="font-bold text-grey-700" href="#" routerLink="/account/login"> Đăng nhập </a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
