<!--
  ~ Project: MatLidStore (https://github.com/phamtiendungcw/matlidstore)
  ~ File: header.component.html
  ~ Author: phamtiendungcw (https://github.com/phamtiendungcw)
  ~ Contact: Pham Tien Dung (phamtiendungcw@gmail.com)
  ~ Last Modified: Thứ Bảy, 09-11-2024 | 02:54 SA
  ~ --------
  ~ Copyright © 2023 - 2024 Pham Tien Dung, MatLidStore Ltd. All rights reserved.
  ~ --------
  ~ Description:
  ~   This file is part of the MLS.MatLidStoreUI project.
  ~   Unauthorized copying or distribution of this file, via any medium, is strictly prohibited.
  ~ --------
  ~ License: Proprietary and confidential.
  -->

<header class="header bg-gray-100 p-4">
  <!-- Nội dung header, ví dụ như tiêu đề trang, thông báo -->
  <p>header works!</p>
  <h1 class="text-2xl font-bold">Welcome, Admin</h1>
</header>
