<div class="bg-white rounded-lg">
  <div class="container flex flex-col mx-auto bg-white rounded-lg">
    <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
      <div class="flex items-center justify-center w-full lg:p-12">
        <div class="flex items-center xl:p-10">
          <form
            #loginForm="ngForm"
            (ngSubmit)="loginClick()"
            class="flex flex-col w-full h-full pb-6 text-center bg-white rounded-3xl">
            <h3 class="mb-3 text-4xl font-extrabold text-dark-grey-900">Đăng Nhập</h3>
            <p class="mb-4 text-grey-700">Nhập tên người dùng và mật khẩu của bạn</p>
            <a
              class="flex items-center justify-center w-full py-4 mb-6 text-sm font-medium transition duration-300 rounded-2xl text-grey-900 bg-grey-300 hover:bg-grey-400 focus:ring-4 focus:ring-grey-300">
              <img
                alt=""
                class="h-5 mr-2"
                src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-google.png" />
              Đăng nhập bằng Google
            </a>
            <div class="flex items-center mb-3">
              <hr class="h-0 border-b border-solid border-grey-500 grow" />
              <p class="mx-4 text-grey-600">hoặc</p>
              <hr class="h-0 border-b border-solid border-grey-500 grow" />
            </div>
            <label class="mb-2 text-sm text-start text-grey-900" for="username">Tên người dùng*</label>
            <input
              [(ngModel)]="model.username"
              name="username"
              class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-grey-400 mb-7 placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl"
              id="username"
              placeholder="Nhập tên người dùng"
              type="text" />
            <label class="mb-2 text-sm text-start text-grey-900" for="password">Mật khẩu*</label>
            <div class="relative">
              <input
                [(ngModel)]="model.password"
                name="password"
                class="w-full px-5 py-4 pr-12 text-sm font-medium outline-none placeholder:text-grey-700 bg-grey-200 text-dark-grey-900 rounded-2xl"
                id="password"
                placeholder="Nhập mật khẩu"
                [type]="showPassword ? 'text' : 'password'"
                required />
              <button
                type="button"
                (click)="togglePassword()"
                class="absolute inset-y-0 right-0 flex items-center px-3"
                aria-label="Toggle password visibility"
                title="{{ showPassword ? 'Ẩn mật khẩu' : 'Hiển thị mật khẩu' }}">
                <i *ngIf="showPassword" class="fa fa-eye text-gray-600 hover:text-gray-800 transition duration-300"></i>
                <i
                  *ngIf="!showPassword"
                  class="fa fa-eye-slash text-gray-600 hover:text-gray-800 transition duration-300"></i>
              </button>
            </div>
            <div class="flex flex-row justify-between mb-8">
              <label class="relative inline-flex items-center mr-3 cursor-pointer select-none">
                <div class="flex items-center mb-4">
                  <input
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    id="default-checkbox"
                    type="checkbox"
                    value="" />
                  <label class="ml-3 text-sm font-normal text-grey-900" for="default-checkbox">Ghi nhớ đăng nhập</label>
                </div>
              </label>
              <a class="mr-4 text-sm font-medium text-purple-blue-500" href="javascript:void(0)">Quên mật khẩu?</a>
            </div>
            <button
              type="submit"
              class="w-full px-6 py-3 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 bg-purple-blue-500">
              Đăng nhập
            </button>
            <p class="text-sm leading-relaxed text-grey-900">
              Nếu bạn chưa đăng ký? <a class="font-bold text-grey-700" href="javascript:void(0)">Tạo một tài khoản</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
